<div class="container">
  <h5>Voici les sites disponibles dans l'eCRF:</h5>

  @if (sites && sites.length > 0) {
    @for (site of sites; track site) {
      <div class="study-card mb-3 p-2 border rounded">
        <p><strong>{{ site.name }}</strong></p>
        <p>{{ site.endDate }}</p>
        <p>{{ site.startDate}}</p>
        <p>{{ site.patients}}</p>
        <p>{{ site.study}}</p>

        <button class="btn btn-sm btn-primary me-2" routerLink="['/site/update', site.id]">
          Modifier
        </button>
        <button class="btn btn-sm btn-danger" (click)="deleteSite(site.id)">
          Supprimer
        </button>
      </div>
    }
  }

  @if(sites.length == 0) {
    <p>Aucun site à charger</p>
  }

  <div class="mt-3">
    <button class="btn btn-success me-2" routerLink='/sites/create'>Ajouter un site</button>
    <button class="btn btn-secondary" routerLink='/accueil'>Retour</button>
  </div>
</div>